header {
    display: flex;
    justify-content:left;
    align-items: center;
    margin: 10px;
    min-width: 400px;
}

a, a:visited{
    color: inherit;
    text-decoration: none;
}

.nav-bar{
    display: flex;
    align-items: center;
    margin-left: 20px;
    padding: 10px;
}
