label{
    font-size: 18px;    
}

.container{
    margin:10px 20px 10px 20px;
    padding: 5px;
    background-color: azure;
    min-width: 360px;
}

.search-bar{
    display: flex;
    justify-content:left;
    align-items: center;
    padding-left: 10px;
    max-width: 500px;
}

.anagram-container{
    margin-top: 10px;
    padding: 10px;
}

@media only screen and (max-width: 600px){
    label{
        font-size: 16px;    
    }
}