@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model AnagramSolver.WebApp.Models.CreateWordModel

@{
    ViewBag.Title = "Add word";
}

<form asp-controller="Words" asp-action="SaveNewWord" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    Word to add:
    <input type="text" asp-for="Word"/><br/>
    <span asp-validation-for="Word" class="text-danger"></span><br/>
    <button type="submit">Add</button>
</form>
@if (@ViewBag.SaveStatus == true)
{
    <span class="text-success">Word was added to the file</span>
}
else if (@ViewBag.SaveStatus == false)
{
    <span class="text-danger">Something went wrong</span>
}
