@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model AnagramSolver.WebApp.Models.InputModel
@{
    ViewBag.Title = "Index";
}

<form asp-controller="Home" asp-action="GetAnagrams" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    Your input:
    <input type="text" asp-for="Input"/><br/>
    <span asp-validation-for="Input" class="text-danger"></span><br/>
    <button type="submit">Show Anagrams</button>
    <button asp-action = "ClearCache">Clear Cache</button><br/>
    <span>@ViewBag.ClearStatus</span>
</form>